body {
    background-color: rgb(9, 6, 194)
}

header, footer {
    background-color:rgb(12, 117, 12);
    text-align: center;
}

h1{
    color: rgb(179, 176, 176);
    border: solid black 5px;
    /* text-align: center; */
    background-color: black;
}

header li {
    border: solid gray 3px;
    color: white;
    display: inline;
    background-color: black;
    padding: 5px 20px;
    margin: 3px 6em;
}

section {
    background-color: gray;
    text-align: center;
    color: black;
}

img {
    margin: 1em;
}